<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" onClick="return false;" class="bars"
               aria-expanded="false"></a>
            <a href="#" onClick="return false;" class="bars">
                <i class="fas fa-bars"></i>
            </a>
            <a class="navbar-brand" href="">
                <span class="logo-name"></span>
            </a>
        </div>

    </div>
</nav>
<!-- #Top Bar -->
