<!-- App Bottom Menu -->
<div class="appBottomMenu shadow">
    <a asp-controller="Home" asp-action="Index" class="item ">
        <div class="col">
            <ion-icon name="home-outline">
                <i class="fas fa-home " aria-hidden="true"></i>
            </ion-icon>
        </div>
    </a>
    <a asp-controller="Home" asp-action="QuestionList" class="item ">
        <div class="col">
            <ion-icon name="home-outline">
                <i class="fas fa-question " aria-hidden="true"></i>
            </ion-icon>
        </div>
    </a>
</div>
<!-- * App Bottom Menu -->