<div class="axil-tab-area axil-section-gap index-1 bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="axil-banner mb--30">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="w-100" src="~/site/assets/images/add-banner/banner-03.png" alt="Ad Images">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>