<div class="axil-post-grid-area axil-section-gap bg-color-grey">
    <div class="container">
        <div class="row axil-section-gapBottom">
            <div class="col-lg-12">
                <div class="axil-social-wrapper bg-color-white radius">
                    <ul class="social-with-text">
                        <li class="twitter"><a href="#"><i class="fab fa-twitter"></i><span>توییتر</span></a></li>
                        <li class="facebook"><a href="#"><i class="fab fa-facebook-f"></i><span>فیسبوک</span></a></li>
                        <li class="instagram"><a href="#"><i class="fab fa-instagram"></i><span>اینستاگرام</span></a></li>
                        <li class="youtube"><a href="#"><i class="fab fa-youtube"></i><span>یوتیوب</span></a></li>
                        <li class="pinterest"><a href="#"><i class="fab fa-pinterest"></i><span>پینترست</span></a></li>
                        <li class="discord"><a href="#"><i class="fab fa-discord"></i><span>گوگل پلاس</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>